# Pre-processing

## By Pontus Nordqvist, <p.nordq@gmail.com>

The raw data is very non-structured and contain duplicate entries for different naming codes\
Let's fix this by joining with the ISO dataset
https://www.kaggle.com/juanumusic/countries-iso-codes \
Let's load it, and the raw data

In [1]:
import os
import pandas as pd

iso_path = os.path.join(os.getcwd(),
                        'Data/ISOCodes/wikipedia-iso-country-codes.csv')
iso_country = pd.read_csv(iso_path)

filename = 'HolidayData2016-2022'
data_path = os.path.join(os.getcwd(),f'Data/MinedData/{filename}.csv')
holiday_df = pd.read_csv(data_path)

Now we need to joint these datasets to the. Since we only need the insercted data, we need to do a inner join. To remove the duplicates, we only to this on ISO 'alpha-3'.

In [2]:
output_df = pd.merge(holiday_df, iso_country,
                            how ='inner',
                            left_on = 'Country code',
                            right_on = 'Alpha-3 code')

In [3]:
output_df.head()

,Unnamed: 0,Country code,Date,Holiday,English short name lower case,Alpha-2 code,Alpha-3 code,Numeric code,ISO 3166-2
0,0,ABW,2016-01-01,Aña Nobo [New Year's Day],Aruba,AW,ABW,533,ISO 3166-2:AW
1,1,ABW,2016-01-25,Dia Di Betico [Betico Day],Aruba,AW,ABW,533,ISO 3166-2:AW
2,2,ABW,2016-02-08,Dialuna di Carnaval [Carnaval Monday],Aruba,AW,ABW,533,ISO 3166-2:AW
3,3,ABW,2016-03-18,Dia di Himno y Bandera [National A...,Aruba,AW,ABW,533,ISO 3166-2:AW
4,4,ABW,2016-03-25,Bierna Santo [Good Friday],Aruba,AW,ABW,533,ISO 3166-2:AW

No we got 2 redundat columns; Unnamed:0 and couuntry code, so let's drop them

In [4]:
output_df = output_df.drop(columns = ['Unnamed: 0', 'Country code'], axis=1)

While we're at it, let's rename the "English short name lower case" column to something shorter like "Country".

In [5]:
output_df.rename({'English short name lower case': 'Country'}, axis=1,
                 inplace=True)

......and make it lowercase to remove uper-lowercase mix

In [6]:
output_df['Country'] = output_df['Country'].map(lambda name: name.lower())

Hmmm, the date is stored in Python's dateTime format. But we only need the year, so let's create the year column.

In [7]:
output_df['Year'] = pd.DatetimeIndex(output_df['Date']).year

Much better

In [8]:
output_df.head()

,Date,Holiday,Country,Alpha-2 code,Alpha-3 code,Numeric code,ISO 3166-2,Year
0,2016-01-01,Aña Nobo [New Year's Day],aruba,AW,ABW,533,ISO 3166-2:AW,2016
1,2016-01-25,Dia Di Betico [Betico Day],aruba,AW,ABW,533,ISO 3166-2:AW,2016
2,2016-02-08,Dialuna di Carnaval [Carnaval Monday],aruba,AW,ABW,533,ISO 3166-2:AW,2016
3,2016-03-18,Dia di Himno y Bandera [National A...,aruba,AW,ABW,533,ISO 3166-2:AW,2016
4,2016-03-25,Bierna Santo [Good Friday],aruba,AW,ABW,533,ISO 3166-2:AW,2016

## Are we done?
No! We need to make sure that the dataset is "clean"

I can see that Söndag and Søndag is a holliday, I know it's not; so let's drop those entries

In [9]:
output_df = output_df[~output_df['Holiday'].isin(['Söndag', 'Søndag'])]

Hmmm, Isreal seem to have lots of holidays which are entried as unique while they shouldn't. Let's just drop all entries for Isreal.

In [10]:
output_df = output_df[output_df['Alpha-3 code'] != 'ISR']

# Let's be done now
and save our dataframe as "CleanHolidayData2016-2022" in .csv format.

In [11]:
save_name = 'CleanHolidayData2016-2022'
output_path = os.path.join(os.getcwd(),
                            f'Data/CleanedData/{save_name}.csv')
output_df.to_csv(output_path)